<template>
  <div>
    number
    <span data-testid="number">{{ number }}</span>
    <button @click="increase" data-testid="increase">increase</button>
  </div>
</template>

<script lang="ts" setup>
const number = ref(0)

const increase = () => {
  number.value++
}
</script>
